<%- include('./partials/head', {current: '/completed'}); %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Contact</li>
    <li>Versturen geslaagd</li>
</ul>


<header class="contact">

    <section class="container">
        <div>
            <article>
                <h3 class="smallTitle">Versturen geslaagd</h3>
                <h1>Bedankt voor het insturen van je vraag!</h1>
                
                <p>Ga terug naar de <a href="/" id="redirectLink">homepagina!</a></p>
            </article>
        </div>
    </section>

</header>


<%- include('./partials/foot') %>