<%- include('./partials/head', {current: '/contact'}); %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Contact</li>
</ul>


<header class="contact">
    

    <section class="container">
        <div>
            <article>
                <h3 class="smallTitle">Buurt initiatieven Amsterdam West</h3>
                <h1>Vragen? Stuur ons een bericht</h1>
                
                <p>Heb je vragen over onze buurtinitiatieven of wil je meer weten over hoe je kunt deelnemen? Aarzel niet om contact met ons op te nemen!</p>
            </article>

            <article>
                <form method="POST" action="/contact" class="send">
                    <label for="name">
                        <input type="text" name="info" id="name" placeholder="Naam">
                    </label>
                    <label for="email">
                        <input type="email" name="info" id="name" placeholder="Email" required>
                    </label>
            
                    <label for="message">
                        <textarea name="info" id="message" cols="30" rows="5" placeholder="Bericht" required minlength="30"></textarea>
                    </label>

                    <button class="btn contactButton" type="submit">
                        Verstuur
                        <i class='bx bx-paper-plane'
                           id="planeIcon"></i>
                    </button>
                </form>
            </article>
        </div>
    </section>

</header>


<%- include('./partials/foot') %>