<%- include('./partials/head', {current: '/contact'}); %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Contact</li>
</ul>


<header class="contact">
    

    <section class="container">
        <div>
            <article>
                <h3 class="smallTitle">Buurt initiatieven Amsterdam West</h3>
                <h1>Vragen? Stuur ons een bericht</h1>
                
                <p>Heb je vragen over onze buurtinitiatieven of wil je meer weten over hoe je kunt deelnemen? Aarzel niet om contact met ons op te nemen!</p>
            </article>

            <article>
                <form method="POST" action="/contact" class="send">

                    <label for="name">
                        <span class="label-text">
                            Naam
                        </span>
                    </label>
                    <input type="text" id="name" placeholder=" " required>
                    <p class="validation-error">Je naam is verplicht.</p>

                    <label for="email">
                        <span class="label-text">
                            Email
                        </span>
                    </label>
                    <input type="email" id="email" placeholder=" " required>
                    <p class="validation-error">Vul en correct e-mailadres in.</p>

                    <label for="message">
                        <span class="label-text">
                            Bericht
                        </span>
                    </label>
                    <textarea id="message" cols="30" rows="5" placeholder=" " required minlength="30"></textarea>
                    <p class="validation-error">Gebruik minimaal 30 tekens.</p>

                    <button class="btn contactButton" type="submit">
                        Verstuur
                        <i class='bx bx-paper-plane'
                           id="planeIcon"></i>
                    </button>
                </form>
            </article>
        </div>
    </section>

</header>


<%- include('./partials/foot') %>