<%- include('./partials/head', {current: '/faq'}); %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>FAQ</li>
</ul>


<header class="faq">
    <div class="container">
        <h3 class="smallTitle">FAQ</h3>
        <h1>Heb je een vraag? Wij hebben het antwoord!</h1>
    </div>
</header>

<main>
    <div class="container">

        <details>
            <summary>Wat zijn buurtinitiatieven en waarom zijn ze belangrijk?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Zijn er richtlijnen waaraan mijn buurtinitiatief moet voldoen?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Hoe kan ik andere buurtbewoners betrekken bij mijn initiatief?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Wat moet ik doen als ik hulp nodig heb bij het uitvoeren van mijn buurtinitiatief?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Kun je meerdere buurtinitiatieven aanbieden/ aanvragen?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Zijn er al bestaande buurtinitiatieven waar ik me bij kan aansluiten?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Hoe kan ik mijn buurtinitiatief promoten binnen de gemeenschap?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>

        <details>
            <summary>Wat zijn enkele succesverhalen van buurtinitiatieven in Amsterdam West?</summary>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            </div>
        </details>
    </div>

</main>

<%- include('./partials/foot') %>