<%- include('./partials/head', {current: '/opdracht-aanmelden'}); %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li>Opdracht aanmelden</li>
</ul>

<header class="screenHeight">
    <div class="container">
        <h3 class="smallTitle">Opdracht aanmelden</h3>
        <h1>Meld je initiatief hier aan!</h1>

        <p>Heb je een geweldig idee voor een buurtinitiatief of wil je iets aanbieden aan je medebewoners? Meld je initiatief hier aan! Klik op de knop hieronder om het formulier in te vullen. Samen maken we onze buurt een nog betere plek om te wonen!</p>

        <a class="btn" href="/opdracht-aanmelden/formulier">Formulier aanmelden</a>
    </div>  
</header>

<main>

</main>

<%- include('./partials/foot') %>