<%- include('./partials/head', {current: '/opdracht-aanmelden'}); %>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/opdracht-aanmelden">Opdracht aanmelden</a></li>
    <li><a href="/opdracht-aanmelden/formulier">Formulier</a></li>
    <li>Succes!</li>
</ul>

<header class="oneHeader">
    <section class="container">
        <div>
            <h3 class="smallTitle">Formulier initiatief</h3>

            <h1>Succes! Innitiatief is aangemaakt!</h1>
    
            <a href="/vraag-aanbod" class="btn">Bekijk initiatief</a>
        </div>
    </section>
</header>

<%- include('./partials/foot') %>