@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body,
input,
textarea,
select {
    font-family: Montserrat;
    font-family: "Roboto", sans-serif; 
}
:root {
    /* Font Colors */
    --fontColor: #343434;
    --fontHoverColor: #5e5e5e;
    --fontColorMedium: #7b7b7b;
    --fontColorLight: #b5b5b5;

    /* Primary Colors */
    --mainColor: #3D5737;
    --mainColorHover: #2b3f26;
    --redColor: rgb(200, 0, 0);

    /* Form Colors */
    --validColor: #43dd93;
    --invalidColor: #e25f41;

    /* Background Colors */
    --lightBackground: #efefef;

    /* Paddings */
    --smallPadding: 1em;
    --mediumPadding: 1.5em;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 2.25rem;
    text-transform: uppercase;
}
p {
    color: var(--fontColor);
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
}
a {
    text-decoration: none;
    color: var(--fontColor);
}

a.more {
    transition: 0.5s ease;
    color: var(--mainColor);

    margin-top: 2rem;
}
a.more::after {
    content: ' >';
}
body a:hover,
a.more:hover {
    color: var(--mainColorHover);
}
a.more:hover::after {
    padding-left: 4px;
}
main a:hover {
    color: var(--fontHoverColor);
}

img {
    max-width: 100%;
}
article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header {
    margin-top: 4rem;
}
header.screenHeight {
    height: calc(100vh - 4rem);
    padding-top: 8rem;
}
header h2 {
    font-weight: 100;
    margin-bottom: 1rem;
}
header a.btn {
    display: inline-block;
}
header article a {
    align-self: flex-start;
}
section {
    width: 100%;
}
section > h2,
section > h3,
section > h4 {
    text-align: center;
}
.smallTitle {
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: .75rem;
}
.services h3 {
    text-transform: uppercase;
    font-weight: 100;
}
.title {
    color: var(--mainColor);
}
.padding5 {
    padding: 5rem 0;
}
a.btn {
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem 2rem;

    transition: 0.5s ease;
}
a.btn:hover {
    border-color: var(--mainColorHover);
    background-color: var(--mainColorHover);
    color: white;
}
button.btn {
    background-color: var(--mainColor);
    color: white;
    border: unset;
    border-radius: 4px;
    padding: 1rem 2rem;
    align-self: center;

    margin-top: 1rem;

    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    
    transition: 0.5s ease-out;
    cursor: pointer;
}
button.btn:hover {
    background-color: var(--mainColorHover);
}
button.line {
    background-color: transparent;
    color: var(--mainColor);
    border: 3px solid var(--mainColor);
    border-radius: 4px;
    padding: 1rem 2rem;
    align-self: center;
   
    text-transform: uppercase;
    text-align: center;
   
    cursor: pointer;
}
button.line:hover {
    background-color: var(--mainColor);
    color: white;
}
form button {
    width: 100%;
}
.center {
    text-align: center;
}
.alignCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    max-width: 80%;
    margin: 0 auto;
}
.smallContainer {
    width: 60%;
    margin: 0 auto;
}
.mBottom {
    margin-bottom: 4rem;
}

.like-button {
    border: 3px solid var(--redColor);
    color: var(--redColor);

    border-radius: 4px;
    margin: 1.5rem 0 0;
    padding: 1rem 2rem 1rem 1rem;

    text-transform: uppercase;
    background: none;
    font-size: 1rem;

    transition: 0.5s ease;
    position: relative;
    overflow: hidden;
}

.like-button i {
    font-size: 18px;
    margin-left: 0.5rem;
    color: var(--redColor);

    transition: 0.4s ease;
    position: absolute;
    z-index: -10;
}

.like-button:hover {
    color: white;
    cursor: pointer;

    box-shadow: var(--redColor) 0px 7px 29px 0px;
}

.like-button:hover i {
    scale: 30;
}

.like-button:active {
    scale: 0.8;
}

/* PARTIALS HEAD */
nav {
    position: fixed;
    top: 0;

    width: 100%;
    height: 4rem;
    padding: 0 5rem;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 3%) 0px 4px 6px -1px, rgb(183 183 183 / 6%) 0px 2px 4px -1px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: 100%;
}
nav ul .close {
    display: none;
}
nav ul li {
    display: inline-block;
    padding: 1rem 0rem;
}
nav ul li a {
    padding: 1.4rem;
    color: var(--fontColor);
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out .25s;
}
nav ul li a:hover {
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}
nav ul li a.active {
    font-weight: bold;
    color: var(--mainColor);
    border-bottom: 2px solid var(--mainColor);
}
/* END PARTIALS HEAD */


/* --- HOMEPAGE --- */
header.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    width: 100vw;
    height: calc(100vh - 4rem);
    margin-top: 4rem;
    padding: unset;
}
header.home article {
    position: relative;
    padding: 0 4rem;

    grid-column: 1;
    grid-row: span 2;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
header.home div:nth-child(2) {
    grid-column: 2;
    grid-row: span 2;
}
header.home div:nth-child(2) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* BLOCKQUOTE */
article:has(blockquote) {
    width: 100%;
    padding: 6rem 0rem;
    background-color: var(--lightBackground);
    color: #0C0C0C;

    display: flex;
    justify-content: center;
    align-items: center;
}
blockquote {
    width: 60%;
    font-size: 2rem;
    text-align: center;
    line-height: 3.5rem;
}
/* END BLOCKQUOTE */

h3.type,
h2.type {
    margin-top: 3rem;
}
article span {
    color: var(--fontColorLight);
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* uitzondering dit moet later weg hierdoor zie je het 4e item niet op de home pagina */
.home .services .items article:nth-child(4) {
    display: none;
}
.services .items:last-child {
    margin-bottom: 2rem;
}

.home .services {
    padding: 5rem 0;
}
.home .services section:last-child {
    margin-bottom: 2rem;
}
.services h2 {
    margin-top: 1rem;
    text-transform: uppercase;
}
.services .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5rem;
    margin-top: 2rem;
}
.services .items article {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}
.services .items article:hover {
    transform: scale(1.1);
}
.services .items article > img:first-of-type,
.services .items article picture img {
    border-radius: 4px;
    height: 16rem;
}
.services .items article .cardContent {
    padding: .5rem 0rem;
}
.services .items article .cardContent p {
    margin: 0;
    color: var(--fontColorMedium);
    font-size: 1.1rem;
}
.services .items article .cardContent .titleContainer h3 {
    margin-bottom: .5rem;
    text-transform: unset;
    font-weight: unset;
}

.services .mTop {
    margin-top: 4rem;
}

.cardContent .date {
    position: absolute;
    top: .5rem;
    left: .5rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .2rem;

    background: #FFF;
    padding: .25rem;
    
    border-radius: 4px;
}
.cardContent .date span {
    font-size: .8rem;
    margin-top: 0;
}

/* LIKE BUTTON */
.cardContent .titleContainer {
    margin-top: .5rem;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;
}
form.like button:has(img),
form.like button:has(svg) {
    background: unset;
    border: unset;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: .25rem;
    cursor: pointer;
}
form.like button img.heart,
form.like button svg{
    width: 1.5rem;
    height: unset;
}
form.like span {
    margin: unset;
}
.heartIcon {
    /* fill: #FF7A6B; */
    fill: var(--lightBackground);
    transition: .2s ease;
}
#groupHeart:hover .heartIcon,
.liked .heartIcon {
    fill: red;
}
/* loading animation heart */
.is-loading #heartIcon {
    animation-delay: 0.9s;
    animation-duration: 0.8s;
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pump {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}

@keyframes beat {
    0% {
      transform: scale(1)
    }
    50% {
      transform: scale(0.6)
    }
  }
/* END LIKE BUTTON */

.buttonsService {
    width: 60%;
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: center;
}
.buttonsService > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
.buttonsService button.active {
    transition: ease-out;
    background-color: var(--mainColorHover);
}

/* BREADCRUMBS */
ul.breadcrumb {
    padding: .5rem 5rem;
    list-style: none;
    background-color: var(--lightBackground);
    position: absolute;
    width: 100%;
  }
  /* Display list items side by side */
  ul.breadcrumb li {
    display: inline;
  }
  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--fontColor);
    content: "/\00a0";
  }
  /* Add a color to all links inside the list */
  ul.breadcrumb li a {
    color: var(--mainColor);
    text-decoration: none;
  }
  /* Add a color on mouse-over */
  ul.breadcrumb li a:hover {
    color: var(--mainColorHover);
    text-decoration: underline;
  }
/* END BREADCRUMBS */
/* --- END HOMEPAGE --- */


/* OPDRACHT AANVRAGEN BLOK */
.opdrachtAanvragen {
    width: 100%;
    background-color: var(--lightBackground);
    padding: 6rem 0;
}
.opdrachtAanvragen div {
    width: 40%;
    margin: 0 auto;
}
.opdrachtAanvragen h2 {
    margin-bottom: 1rem;
}
.opdrachtAanvragen p {
    margin-bottom: 4rem;
}
/* END OPDRACHT AANVRAGEN */



/* FORMULIER PAGINA */
.gridForm {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
}
form {
    grid-column: 2;
}
/* op display none voor de formulier steps */
fieldset {
    position: relative;
    display: none;
    flex-direction: column;
    border: none;
    font-size: 1em;
    padding: 1rem 0;
}
/* wanneer class visible krijgt > veranderd de display naar flex */
fieldset.visible {
    display: flex;
}
fieldset > div:first-of-type {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--lightBackground);
}
fieldset div:first-child legend {
    order: 2;
}
fieldset:valid::before {
    /* content: "✅"; */
    content: "👍";
    position: absolute;
    top: 2rem;
    right: 0;
    font-size: 3rem;
}
fieldset:valid legend {
    color: var(--validColor);
}   
/* fieldset:focus-within {
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .1);
    scale: 1.02;
} */
legend {
    text-align: center;
    width: 100%;

    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.75rem;
}
label,
legend {
    display: inline-block;
    margin-bottom: 1.5rem;
}
input,
textarea,
select {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid var(--lightBackground);
    border-radius: 4px;
}
input[type="radio"],
input[type="checkbox"] {
    width: unset;
}
input[type="radio"] {
    margin-right: 1rem;
}
label:has(input[type="checkbox"]) {
    min-width: 5rem;
    border: none;
    cursor: pointer;
}
/* hides the checkbox  */
label input[type="checkbox"] {
    display: none;
}
label span {
    display: block;
    background: var(--lightBackground);
    padding: .75rem 1rem;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    transition: 0.5s ease;
}
label span:hover {
    background: rgb(166, 166, 166);
}
input:checked + span {
    background: var(--mainColor);
    color: white;
}

label.req:before {
    content: '* ';
    color: red;
}
#aanmeldForm input:required:valid,
#aanmeldForm textarea:valid,
#aanmeldForm select:valid {
    border: 2px solid var(--validColor);
}
form h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.col2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}
form button.btnNext,
form button.btnBack  {
    align-self: flex-end;
    width: max-content;
}
fieldset:valid button.btnNext {
    background-color: var(--validColor);
    transition: .25s;
}
fieldset:valid button.btnNext:hover {
   scale: 1.05;
}
fieldset:valid .smallTitle span {
    font-weight: 400;
    color: var(--validColor);
}
fieldset:valid button {
    background: var(--validColor)
}
.containerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* END FORMULIER  */


/* DETAIL PAGINA */
.detail section {
    padding: 4rem 0;
}
.detailHeader {
    width: 100%;
    height: calc(100vh - 4rem);
}
.detailHeader .container {
    height: 100%;
    padding: 6rem 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4rem;
}
.detailHeader h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.detailHeader article {
    display: flex;
    padding: 0;
}
.detailHeader article:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.detailHeader article:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailHeader article:nth-child(2) div {
    height: 22rem;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.detailHeader .description {
    max-height: 15em;
    overflow: hidden;
    margin-bottom: 1rem;
    mask: linear-gradient(rgb(123, 123, 123) calc(100% - 2em), transparent);
}
/* END DETAIL PAGINA */


/* CONTACT BLOCK */
.contactBlock {
    width: 100%;
    padding: 4rem 0;
    background-color: var(--lightBackground);
}
.contactBlock article {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 2fr 8fr 1fr;
}
.contactBlock article h3 {
    font-size: 1.35rem;
}
.contactBlock article > div:nth-child(1){
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
}
.contactBlock div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contactBlock article > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* END CONTACT BLOCK */



/* RELATED PROJECTS */
.relatedProjects h2 {
    margin-bottom: 2rem;
}
.map {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map img {
    margin-top: 4rem;
    width: 25rem;
}
.map h4 {
    font-size: 1.2rem;
    text-transform: capitalize;
}
/* END DETAIL PAGINA */



/* OVERIGE PAGINA  */
header.smallHeader {
    width: 100vw;
    height: 30vh;
    background: #ebebeb;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* END OVERIGE PAGINA  */



/* CONTACT */
header.contact,
.oneHeader {
    position: relative;
    width: 100%;
    height: calc(100vh - 4rem);
}
.contact section {
    height: 100%;
}
.contact section div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;

    width: 100%;
    height: 100%;
    padding: 4rem 0;
}
.contact h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.contact section h2 {
    margin-bottom: 2rem;
}
.contact section article form {
    display: flex;
    flex-direction: column;

    background: #e7e7e7;
    padding: 2rem;
    border-radius: 24px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.contact form input,
.contact form textarea
 {
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 1rem;
    padding: .75rem;
    border: unset;
    border-bottom: 2px solid #e7e7e7;
    border-radius: 4px;
}
.contact label {
    margin-bottom: 0;
}
/* END CONTACT */




/* FAQ PAGINA */
.faq {
    padding-top: 4rem;
    padding-bottom: 2rem;
}
.faqInput {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

details {
    cursor: pointer;
    font-size: 1.2rem;
    padding: 2rem 1rem;
    border-bottom: 2px solid var(--lightBackground);
    transition: .25s ease-in;
}
details summary {
    font-weight: 500;
}
details summary::marker {
    color: var(--mainColor);
}
details div {
    margin-top: 1rem;
    border-left: 2px solid var(--mainColor);
    padding-left: 1rem;
    color: #606060;
}
details:last-of-type {
    margin-bottom: 4rem;
}
/* END FAQ PAGINA */


/* FOOTER */
footer {
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid var(--lightBackground);
    background-color: #FFF; 
    color: var(--fontColor);
}
footer a {
    color: #646464;
}
footer > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    align-self: center;
}
footer h3 {
    margin-bottom: 0.75rem;
    border-bottom: 2px solid #363636;
    padding-bottom: 0.5rem;
}
footer ul {
    list-style: none;
}
footer ul li {
    margin-bottom: .5rem;
}
footer ul.socials li {
    margin-bottom: 0;
}
.socials,
.socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .75rem;
}
.socials svg {
    font-size: 1.5rem;
}
/* END FOOTER */

/* SUCCES PAGE */
.oneHeader section.container {
    height: 100%;
}
.oneHeader section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    text-align: center;

    width: 100%;
    height: 100%;
    padding: 4rem 0;
}
/* END SUCCES PAGE */




/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* RESPONSIVE */

/* IPAD / TABLET */
@media only screen and (max-width: 1020px) {
    h1 {
        font-size: 2.5rem;
    }
    .services .items,
    .detailHeader .container,
    .contact section div,
    footer > div  {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    nav ul li a {
        padding: 1rem .5rem;
    }    
}

/* MOBIEL */
@media only screen and (max-width: 760px) {
    .container,
    .smallContainer {
        max-width: 90%;
    }
    h1,
    .detailHeader h1 {
        font-size: 1.75rem;
    }
    h2,
    header h2,
    legend {
        font-size: 1.5rem;
    }
    p,
    details,
    button {
        font-size: 1rem;
    }
    header,
    header.home,
    .detailHeader .container,
    .services .items,
    .contactBlock article,
    .contact section div,
    footer > div,
    .gridForm,
    .col2  {
        grid-template-columns: 1fr;
    } 
    .home header article {
        grid-row: 2;
    }
    .home header div:nth-child(2) {
        grid-row: 1;
    }

    blockquote {
        width: 80%;
        font-size: 1.3rem;
        line-height: 2.5rem;
    }
    .services .items article:hover {
        transform: unset;
    }

    .opdrachtAanvragen div {
        width: 80%;
    }

    .detailHeader {
        height: 100%;
    }
    .detailHeader .container {
        padding: 4rem 0;
        grid-gap: 0;
    }
    .detailHeader article:nth-child(1) {
        order: 2;
    }
    .detailHeader article:nth-child(2) {
        order: 1;
        margin-bottom: 2rem;
    }

    .contactBlock {
        text-align: center;
    }

    /* mobiel menu */
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        background: var(--mainColor);
    }
    nav ul li {
        width: 100%;
        padding: unset;
        display: flex;
    }
    nav ul li a {
        color: var(--lightBackground);
        text-decoration: none;
        text-transform: uppercase;
        transition: ease-in-out .25s;
        width: 100%;
        padding: 1rem;
    }
    nav ul li a:hover {
        color: var(--fontColorLight);
        border: unset;
    }
    nav ul li a.active {
        font-weight: bold;
        color: var(--fontColor);
        border-bottom: unset;
    }
    nav ul .close {
        display: flex;
        align-self: flex-end;
        margin-bottom: 1rem;
        padding: 1rem;
    }
}
/* END RESPONSIVE */
/* --------------------------------------------------------------------------------------------------------------------------------------- */